body{
    font-family: "Fredoka", serif;
    margin: 0;
}

.bg_color1{
    background-color: #f1f5f8;
    width:auto;
    height: 50vh;
}

.bg_color2{
    background-color: #ffd602;
    width:auto;
    height: 60vh;
}

.lego_form{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 5%;
    left:31%;
}

.logo{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
}

main{
    background-color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    width: 450px;
}

a{
    text-decoration: none;
    color: #005ad2;
}

.text_input{
    border-radius: 10px;
    width: 400px;
    height: 40px;
}

.search_input{
    border: 1px solid rgb(193, 193, 193);
    border-radius: 18px;
    width: 200px;
    height: 30px;
}

form div{
    margin: 10px 0;
}

.btn1{
    padding: 10px 40px;
    border: none;
    color: white;
    border-radius: 5px;
    background-color: #005ad2;
    margin: 5px 0; 
    text-align: center;
}

.btn2{
    padding: 10px 20px;
    border: none;
    color: black;
    border-radius: 20px;
    background-color: #f47d1f;
    margin: 5px 0; 
    width: 110px;
    text-align: center;
}

.btn1:hover{
    background-color: #2681f8;
    cursor: pointer;
}

.btn2:hover{
    background-color: #f59953;
    cursor: pointer;
}

.login_btn{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.woops{
    color: #e3000c;
    text-align: left;
}

.check{
    color: #2ed200;
    text-align: left;
}

h2{
    font-weight: 500;
}

h4{
    font-weight: 400;
    margin: 5px 0;
    margin-bottom: 10px;
}

.extra_links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.extra_links a{
    color: #005ad2;
    text-decoration: none;
}

nav{
    background-color: #ffd602;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    height: 70px;
}

nav a{
    color: black;
}

nav a:hover{
    text-decoration: underline;
}

.highlighted{
    background-color: #f1f5f8;
    padding: 5px 10px;
    border-radius: 5px;
    color: #e3000c;
}

.primary_links{
    display: flex;
    justify-content: space-between;
    width: auto;
    gap: 50px;
    align-items: center;
    margin-left: 30px;
}

.secondary_links{
    display: flex;
    justify-content: space-between;
    width: auto;
    gap: 50px;
    align-items: center;
    margin-right: 30px;
}

article{
    width: 300px;
    height: 400px;
    border: 1px solid rgb(193, 193, 193);
    display: flex;
    flex-direction: column;
    padding: 5px;
}

article img{
    max-width: 300px;
    max-height: 225px;
}

.img_holder{
    width: 300px;
    height: 325px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon{
    width: 12px;
    height: 12px;
}

.span_div{
 display: flex;
 justify-content: space-between;
 padding: 5px;
 width: 180px;
}

.shopping_page{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 935px;
    margin: 0 auto;
}

.shopping_bag{
    width: 20px;
    height: 20px;
}

.hidden{
    display: none;
}

.categories{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 750px;
    margin: 15px auto;

}

.categories a{
    color: black;
    text-transform: uppercase;
}

.categories a:hover{
    text-decoration: underline;
}

.selected_category{
    color: #2681f8;
}

.article_frame{
    text-decoration: none;
    color: black;
}

.product_details{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 400px;
    width: 935px;
    height: 400px;
    margin: 0 auto;
    border: 1px solid rgb(193, 193, 193);
}

.big_img_holder img{
    max-width: 600px;
    max-height: 400px;
}

.product_information form{
    height: 400px;
    border-left: 1px solid rgb(193, 193, 193);
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    justify-content: center;
}

.back{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 20px;
    left: 20px;
    border-radius: 50%;
    background-color: none;
    transition: background-color 0.25s; 
    a{
        color: black;
        transition: color 0.25s;
    };

}

.back:hover{
    background-color: #005ad2;
    a{
        color: white;
    }
}

.review_section{
    h3{
        text-align: center;
    }
}

.reviews{
    display: flex;
    flex-direction: column;
    width: 600px;
    margin: auto;
}

.review{
    display: flex;
    flex-direction: column;
    border-top: 1px solid rgb(193, 193, 193);
    padding: 10px;
    margin: 10px 0;
    max-width: 600px;
}

.review_details{
    display: flex;
    align-items: center;
    gap: 10px;
}

.review_date{
    color: rgb(193, 193, 193);
}

.comment{
    color: #005ad2;
    max-width: 600px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

.review_form{
    display: flex;
    flex-direction: column;
    width: 600px;
    margin: auto;
}

.review_form form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.review_form 

.review_form label{
    color:#f47d1f;
    font-weight: 500;
}

#custom_review{
    width: 600px;
    height: 100px;
    border: 1px solid rgb(193, 193, 193);
    border-radius: 5px;
    padding: 5px;
}

.account{
    width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 10px auto;
    border: 1px solid rgb(193, 193, 193);
}

.account_info{
    display: grid;
    grid-template-columns: 300px 300px;
    gap: 50px;
    justify-content: center;
}

.account h2{
    font-weight: 400;
}

.new_product{
    display: flex;
    flex-direction: column;
    width: 600px;
    margin: auto;
}

.new_product div{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.edit_product{
    display: flex;
    flex-direction: column;
    width: 600px;
    margin: auto;
}

.edit_product div{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.cart_items_amount{
    position:absolute;
    top: 40px;
}

.cart{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 935px;
    margin: 0 auto;
}

.cart_h2{
    text-align: center;
}

.empty{
    text-align: center;
    border: 1px solid rgb(193, 193, 193);
    padding: 5rem;
    position: absolute;
    top: 35%;
    left: 40%;
}

.checkout{
    height: 200px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.checkout p{
    font-weight: 500;
}

.checkout-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 910px;
    margin: auto;
}

.products_in_cart{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.product_in_cart{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid rgb(193, 193, 193);
    width: 450px;
    height: 150px;
}

.product_in_cart img{
    max-width: 150px;
    max-height: 150px;
}

.adress_input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.adress_input div{
    display: flex;
    width: 500px;
    justify-content: space-between;
    align-items: center;
}

#housenumber{
    width: 100px;
}

.checkout_information{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    padding: 10px;
    border: 1px solid rgb(193, 193, 193);
    width: 450px;
    height: 150px;
}